# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.bin

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.sqlite3
*.bak
*.dat
*.dir
*.db

!create_tables.sql

# Python #
##########
__pycache__/

# Visual Studio #
#################
.vscode/
.vs/

# Folders #
##################
.secrets/*
!.secrets/.gitkeep
!.secrets/sample.env
!.secrets/ui_auth.yaml_sample
.credentials/
.venv/
venv/
.env
data/processed/*.md
.ipynb_checkpoints/
data/downloaded/*
_tmp_folder/*