[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
dask = {extras = ["complete"], version = "*"}
ipykernel = "*"
certifi = "*"
urllib3 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"
